<!-- Skip to content link -->
<a href="#main-content" class="absolute -top-40 z-50 focus:top-0 bg-white dark:bg-bluegreen-800 p-4">Aller au contenu
	principal</a>

<!-- Header Section -->
<header class="sticky top-0 z-40 bg-bluegreen-800 dark:bg-bluegreen-900">
	<nav class="flex items-center justify-between">
		<!-- Hamburger menu button -->
		<button id="mobile-menu-button" type="button" class="md:hidden text-white p-4 cursor-pointer"
			aria-labelledby="mobile-menu-title">
			<svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="24"
				height="24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
				<title id="mobile-menu-title">Navigation</title>
				<path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round">
				</path>
			</svg>
		</button>
		<!-- Large screen menu -->
		<div class="text-white hidden md:block px-4">
			<a href="https://ludeo.net"
				class="text-xl font-semibold hover:border-b-4 border-b-selectiveyellow">Accueil</a>
			<a href="/" class="ml-4 text-xl font-semibold hover:border-b-4 border-b-selectiveyellow">Blog</a>
			<a href="/code" class="ml-4 text-xl font-semibold hover:border-b-4 border-b-selectiveyellow">Code</a>
			<a href="/articles"
				class="ml-4 text-xl font-semibold hover:border-b-4 border-b-selectiveyellow">Articles</a>
		</div>
		<div class="flex items-center">
			<button id="dark-mode-toggle" type="button" class="ml-4 p-4 text-white cursor-pointer"
				aria-label="Thème sombre">
				<!-- Sun Icon (Dark mode disabled) -->
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 sun-icon" fill="none" viewBox="0 0 24 24"
					width="24" height="24" stroke="currentColor" stroke-width="2">
					<title>Désactivé</title>
					<path
						d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
						stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
				<!-- Moon Crescent Icon (Dark mode enabled) -->
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 moon-icon hidden" fill="none" viewBox="0 0 24 24"
					width="24" height="24" stroke="currentColor" stroke-width="2">
					<title>Activé</title>
					<path
						d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
						stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</button>
		</div>
	</nav>
	<!-- Mobile menu -->
	<nav id="mobile-menu" class="hidden pb-4 bg-bluegreen-800 dark:bg-bluegreen-900 text-white">
		<a href="https://ludeo.net" class="block pb-4 pl-8 pr-4">Accueil</a>
		<a href="/" class="block pb-4 pl-8 pr-4">Blog</a>
		<a href="/code" class="block pb-4 pl-8 pr-4">Code</a>
		<a href="/articles" class="block pb-4 pl-8 pr-4">Articles</a>
	</nav>
</header>

<a id="main-content" name="main-content"></a>
