<nav class="series">
	<h5>Cet article fait partie d'une série</h5>
	<h3>{{ blog_series.items[series] }}&nbsp;:</h3>

	<ol>
		{%- for post in collections[series] -%}
		<li>
			{% if post.url == page.url %}<strong>{{ post.data.title }}</strong>{% else %}<a
				href="{{ post.url }}">{{ post.data.title }}</a> {% endif %}
		</li>
		{%- endfor -%}
	</ol>
	{% if collections[series].size == 1 %}
	<p>Plus d'articles à venir...</p>
	{% endif %}
</nav>
